.containerContact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #181717;
	padding: 10px 0;
	gap: 35px;
}
.headerTitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.listContainer {
	width: 40%;
}
.listContainer ul {
	display: flex;
	flex-direction: column;
	gap: 35px;
}
.contact {
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	/*	flex-direction: column;*/
	gap: 15px;
}
.contact a {
	display: flex;
	gap: 15px;
	align-items: center;
	color: aliceblue;
}
.linksContact {
	padding: 0 10px;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
