.navBarContainer {
  display: flex;
  height: 50px;
  position: fixed;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--nav);
}
.navBarContainer p {
  color: var(--text);
}
.containerMenu {
  display: flex;
  gap: 20px;
  align-items: center;
}
.linksContainer {
  display: flex;
  flex-direction: row;
}
.linksContainer div {
  margin-left: 25px;
}
.navLink {
  color: var(--text);
}
.navLink:hover {
  color: var(--text-hover);
  cursor: pointer;
}
