.About {
  max-width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--fondo-screens);
  transition: 800ms;
}

.headAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headAbout h3 {
  font-size: 2.5em;
  font-weight: 500;
}
.headAbout p {
  font-size: 1em;
}
.aboutInfoContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 60%;
  padding-top: 50px;
  justify-content: center;
  gap: 5rem;
}
.webImage {
  height: 300px;
  border-radius: 5px;
}
.cardContainer {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: 110px;
  padding: 0;
  margin: 0;
}

.ulIcons {
  margin-top: 10px;
  height: 25px;
  width: 25px;
  color: var(--text);
}
.card {
  width: 25%;
  padding: 10px;
  height: 100%;
  border: 1px solid var(--border);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--card);
  transition: 800ms;
}

.card b {
  color: var(--text);
  font-size: 20px;
  margin-top: 10px;
}

.aboutMe {
  width: 50%;
  height: 300px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aboutMe button {
  width: 30%;
  height: 20%;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--botton);
  transition: 800ms;
  a {
    text-decoration: none;
    color: var(--text);
  }
}
.aboutMe button:hover {
  background-color: #191a1ac4;
  border: 1px solid #f0f8ffa1;
  cursor: pointer;
  a {
    color: #f0f8ffa1;
  }
}
.docIcon {
  margin-left: 10px;
}
