.About {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-content: center;
}



.headAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headAbout h3 {
  font-size: 2.5em;
  font-weight: 500;
}
.headAbout p {
  font-size: 1em;
}
.aboutInfoContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60%;
  padding-top: 50px;
  justify-content: space-evenly;
}
.webImage {
  height: 300px;
  border-radius: 5px;
}
.cardContainer {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: 110px;
  padding: 0;
  margin: 0;
}
 
.ulIcons {
  margin-top: 10px;
  height: 25px;
  width: 25px;
}
.card {
  width: 25%;
  padding: 10px;
  height: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #80808030;
}

.card b {
  color: rgba(20, 18, 18, 0.718);
  font-size: 20px;
  margin-top: 10px;
}
.card p {
  color: #211e1e;
  font-size: 12px;
}

.aboutMe {
  width: 35%;
  height: 300px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aboutMe button {
  width: 30%;
  height: 20%;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e0d0d;
  transition: 0.5s;
  a{
  text-decoration: none;
  color: #b4acac;
  }
}
.aboutMe button:hover {
  background-color: hsl(0, 4%, 57%);
  cursor: pointer;
  a{
    color: black;
  }
}
.docIcon {
  margin-left: 10px;
}
