.card {
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 350px;
  background-color: rgb(253, 254, 255);
  a {
    font-weight: 300;
    font-size: 15px;
  }
  .contentBtn {
    width: 50px;
  }
  .btn {
    display: flex;
    align-content: center;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    justify-content: center;

    &&:hover {
      cursor: pointer;
    }
  }
}
