.screen {
  min-height: 100vh;
  grid-area: screen;
  grid-row-start: 4;
  grid-row-end: 7;
  z-index: 2;
  background: rgba(236, 233, 233, 0);
}
.containerProducts {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  img {
    width: 45%;
    height: 35%;
  }
}
.footerScreen{
  background: #fdfeff;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.siginContainer{
  border: 1px solid #b9b4b4;
  padding: 15px 0 15px 0;
}
.siginContainer p:first-child{
  font-weight: 400;
  text-align: center;
  font-size: 13px;
}
.siginContainer p:last-child{
  font-weight: 400;
  text-align: center;
  font-size: 11px;
}

.signinButton{
  width: 20%;
  background: #ffa000;
  height: 25%;
  outline: none;
  border-radius: 5px;
  border: solid 1px #ca5a08fa;
  cursor: pointer;
}
.goToTopButton{
  background-color: #232f3e;
  color: aliceblue;
  font-weight: 400;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  
}