.loginButton ~ input:checked ~ .formLogin {
  display: flex;
  flex-direction: column;
  z-index: 9999;
  position: fixed;
  height: 10em;
  align-content: center;
  align-items: center;
  justify-content: center;
  top: 75px;
  background: #fdfeff;
  color: black;
  right: 96px;
  width: 25em;
}
.loginButton span:hover{
cursor: pointer;
}
.formLogin{
display: none;
}

.formLoginContainer{
  display: inline-flex;
  flex-direction: column;
  
  width: 80%;
  height: 80%;
  justify-content: center;
  padding: 5px;
}

.loginContainer{
  height: 35px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  p{
    margin: 0;
  }
}
.loginContainer:hover{
  border: 1px solid;
}
.loginContainer p:first-child{
  font-weight: 300;
  text-align: left;
  font-size: 13px;
  color: rgb(255, 255, 255);
}
.loginout{
  display: flex;
  align-items: center;
  height: 100%;
}