body{
	width: 85%;
	padding: 0;
	margin: 0;
	margin: 0 auto;
	background: gray;
}
a{
	text-decoration: none;
	color: aliceblue;
}
h1{
	font-size: 50px;
}
h2{
	font-size: 35px;
}
p{
	font-size: 20px;
}